html{
	font-size: 62.5%;
}
body {
	font-size: 2rem;
	color: #333333;
  	font-family: 'Roboto',Helvetica, sans-serif;
}
.vert{
	background-color: green;
}
.rouge{
	background-color: red;
}